body {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 75vh;
}

main {
   display: flex;
   flex-flow: column;
   align-items: center;
   width: 100%;
   height: 100%;
}

#options {
   display: flex;
   justify-content: space-around;
   flex-flow: row;
   flex: 0 0 auto;
}

.opt-item {
   display: flex;
   flex-flow: column;
   max-width: 30%;
}

select {
   margin-top: 5px;
   margin-bottom: 5px;
}

button {
   margin-top: 5px;
   margin-bottom: 5px;
}

#maze-svg {
   display: flex;
   justify-content: center;
   flex: 1 0 auto;
   width: 100%;
   height: 100%;
}

svg {
   width: 100%;
   height: 100%;
}

.cell {
   pointer-events: fill;
   fill: none;
   stroke: none;
   stroke-width: 0.1px;
}

.cell.generated {
   fill: #FFFF00;
   stroke: #FFFF00;
}

.cell.expanded {
   fill: #FF8C00;
   stroke: #FF8C00;
}

.cell.path {
   fill: #FF0000;
   stroke: #FF0000;
}

.cell:hover {
   fill: #FF6666 !important;
   stroke: #FF6666 !important;
}

.cell.selected {
   fill: #FF6666;
   stroke: #FF6666;
}
